.nav-item{
    letter-spacing : .2em;
    font-size : 14px;
    text-transform : uppercase;
    font-family: 'Open Sans', sans-serif;

}

.dropdown-item{
    letter-spacing : .2em;
    font-size : 14px;
    text-transform : uppercase;
    font-family: 'Open Sans', sans-serif;
}
.my_footer {
  background-color :#e5d8d8;
  height: 60px;
}
.my_footer p {
    padding-top:20px;
    font-size:14px;
}

.my_row{
 padding-top:15px;

}

.my_row .mx-auto{
  color:#000;
  font-size:12px;
}

.my_image{
    width:100%;
    height:auto;
}

.my_title{
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:.15em;
}

.car-body h4{
 font-size:14px;
 text-transform:uppercase;
 letter-spacing:2em;
}

.my_search_text{
  padding-top:20px;
}
.my_image_padding{
 padding:5px;
}


.my_product_row{
  padding-top:15px;
  padding-bottom:20px;
}

.my_product_row .mx_auto{
 color:#000;
 font-size:12px;
 text-decoration:uppercase;

}


.my_product_title {
  font-size:16px;
 text-decoration:uppercase;
 letter-spacing:.2em;
 padding-top:15px;
 padding-bottom:10px;
}

.my_product_des{
  padding-top:15px;
  text-align: justify;
  text-justify: inter-word;
}

.my_bottom_margin{
 margin-bottom:10px;
}


.my_custom_table{
  min-width:400px;
  font-size:14px;
}


.my_cust_tHead{
 font-weight:normal;
 text-transform:uppercase;
 letter-spacing:.2em;
 background-color:#f8f8fa;
}

.custom_a{
  text-decoration:none;
}

.custom_icon{
    text_decoration:none;
    color:#868e96;
    width:26rem;
}
.my_custom_button{
 margin-top:5px;
}